@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* ================================================================= */ 

/* TABLE OF CONTENTS
1. GLOBAL
2. LAYOUT
3. TYPOGRAPHY
4. MEDIA QUERIES

SECTIONS:
    HEADER | LOGO & NAVBAR
    MAIN
      a. main-greeting
          +mini-logo
    PAGE SECTIONS
      a. mission
      b. activities
      c. employees
      d. contact
    UNSPLASH.COM PHOTO CREDITS
    FOOTER | CREDITS PHOTOS & MUSIC
*/


/*  =================================================================*/
/* 1. GLOBAL */
:root {
  font-family: 'Delius', sans-serif;
  font-size: 16px;
  letter-spacing: 1.5px;
}
body {
  display: block;
  background-color: rgba(255, 255, 240, 0.7);
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

/* flexbox */
.header-banner,
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  =================================================================*/
/* 2. LAYOUT */

/* HEADER | LAYOUT */
.header-banner {
  /* background-color: blue; */
  height: 80px;
  margin-top: 0;
}

/* LOGO | LAYOUT */
#logo-title {
  text-align: center;
  margin-top: 3rem;
}
  .fa-drupal {
    order: 2;
    width: 5%;
    height: 3rem;
    margin-top: 0.1rem;
    padding: 0.3rem;
    vertical-align: top;
  }

.mini-logo {
  height: 35px;
  margin: 0.4rem;
}

/* NAVBAR | LAYOUT */
.nav {
  /* flexbox */
  flex-flow: nowrap row;
  justify-content: space-evenly;
  align-items: center;

  background-color: rgba(37, 97, 9, 0.219);
  height: 4rem;
  padding: 0;
}
.nav-btn {
  /* background-color: pink; */
  padding: 0.2rem;
}
  .nav-link { 
    transition: color 1s ease 0;
    padding: 0.3rem;
  }

/* MAIN | LAYOUT */
.main {
  /* flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 2rem 0;
}

.img-container {
  /* background-color: purple; */

  /* flexbox */
  display: flex;
  flex-flow: column;
}
  .resort-main-img {
    border: 6px ridge rgb(85, 107, 47, 0.7);
    border-radius: 45px;
    width: 285px;
    height: 35vh;
    object-fit: cover;
    box-shadow: 4px 6px 10px #888888;
  }
  .photo-credits {
    margin: 1rem;
    text-shadow: -0.3px 1px #888888;
  }

/* MISSION + ACTIVITY | LAYOUT */
.mission-container, .activities-container {
  /* flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  .mission, .activity, .staff {
    /* flexbox */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
  }
    #mission, #activities, #staff-header {
      width: 100%;
      padding-left: 1rem;
    }
    .mission-statement, .activities-statement, .staff-statement {     
      width: 95%;
      margin-top: 0;
      padding-top: 0;
    }

.mission-fig {
  width: 280px;
  height: 32rem;
  object-fit: cover;
  padding-top: 1.5rem; 
}
#mission-img {
  display: block;
  height: 80%;
  width: 100%;
  border-radius: 35% 5%;
}


/*  =================================================================*/
/* 3. TYPOGRAPHY */

/* LOGO | TYPOGRAPHY */
#logo-title {
  font-family: 'Bad Script', cursive;
  font-size: 1.6rem;
}
  .fa-drupal {
    font-size: 1rem;
  }

/* NAVBAR | LINKS & CTA | TYPOGRAPHY */
.nav {
  list-style-type: none;
}
.nav-link {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
  text-align: center; 
}
    .nav-link:hover {
      color: darkolivegreen;
      cursor: pointer;
    }
    .nav-link:active {
      color: black;
    }

/* MAIN | TYPOGRAPHY */
.main-greeting {
  /* background-color: skyblue; */
  text-align: center;
}
  #greeting {
    font-size: 1rem;
    line-height: 1.6rem;
  }

/* MISSION + ACTIVITY | TYPOGRAPHY */
#mission, #activities, #staff-header {
  background-color: green;

  font-family: 'Bad Script', cursive;
  font-size: 1rem;
  text-align: center;
}
.mission-statement, .activities-statement, .staff-statement {
  background-color: yellow;
  font-size: 1.3rem;
  text-align: center;
  letter-spacing: 0.1rem;
  word-spacing: 0.2rem;
  line-height: 2.2rem;
}

/* UNSPLASH.COM PHOTO CREDITS | TYPOGRAPHY */
.photo-credits, .act-credits p {
  /* background-color: aqua; */
  color: gray;
  font-size: 0.6rem;
  line-height: 1rem;
  text-align: center;
  margin: 0.6rem;
}

/*  =================================================================*/
/* 4. MEDIA QUERIES */
