@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* ================================================================= */ 

/* TABLE OF CONTENTS
1. GLOBAL
2. LAYOUT
3. TYPOGRAPHY
4. MEDIA QUERIES

SECTIONS:
    HEADER | LOGO & NAVBAR
    MAIN
    PAGE SECTIONS
      a. mission
      b. activities
      c. employees
      d. contact
    FOOTER | CREDITS PHOTOS & MUSIC
*/


/*  =================================================================*/
/* 1. GLOBAL */
:root {
  font-family: 'Delius', sans-serif;
  font-size: 16px;
  letter-spacing: 1.5px;
}
body {
  display: block;
  background-color: rgba(255, 255, 240, 0.7);
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

/*  =================================================================*/
/* 2. LAYOUT */





/*  =================================================================*/
/* 3. TYPOGRAPHY */






/*  =================================================================*/
/* 4. MEDIA QUERIES */
